*{     
    box-sizing: border-box;
    margin: 0;
  }

.top-bar-content {
    margin: 0;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 21px;
    background: #3e4d46;
    border: #000000 1px solid;
    text-align: left;
    color: #fff;
    padding: 26px;
  }

.top-bar-content ul{
    word-spacing: 54px;
    width: 34%;
    top: 31px;
    right: 7%;
    position: absolute;
    font-size: 15px;
}

.top-bar-content ul li{
    display: inline-block;
}

.top-bar-content ul li a:hover{
    color: #D7D7D7;
}

.top-bar-content ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

#id-sobre-mim{
    transition: 2s;
}

.img-principal img{
    width: 22%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;    
    border-radius: 50%;
}

.sobre-mim{   
    text-align: center;
    padding: 6%;
    font-family: 'Cambria';
}

.sobre-mim-titulo{
    font-size: 35px;
    text-transform: capitalize;
    color: #003821;
    height: 2px;
    background: #dddddd;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 3.2rem;
}

.sobre-mim-titulo h6{
    background: #ffff;
    position: relative;
    top: -14px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

.sobre-mim-texto{
    font-size: 15px;
    padding: 5%;
    line-height: 35px;
}

.contato {
    text-align: center;
    font-family: 'Cambria';
    margin-bottom: 3.5rem;
}

.contato-titulo{
    text-transform: capitalize;
    color: #003821;
    height: 2px;
    background: #dddddd;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 3.2rem;
}

.contato-titulo h6{
    background: #ffff;
    position: relative;
    top: -1rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

.contato-imgs ul li{
    display: inline-block;
}

.contato-imgs li{
    display: inline-block;
    word-spacing: 10rem;
    padding: 8%;
}

.contato-imgs a{
    text-decoration: none;
}


.contato-imgs img{
    width: 4%;
}

#custom-imgs{
    position:relative;
    top:0
    
}

#custom-imgs:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px #000000;
    transition: all .5s ease-in-out
}

#custom-imgs1{
    position:relative;
    top:0;
    border-radius: 26px;
}

#custom-imgs1:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px #000000;
    transition: all .5s ease-in-out
    
}

#custom-imgs4{
    position:relative;
    top:0;
    border-radius: 26px;
}

#custom-imgs4:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px #000000;
    transition: all .5s ease-in-out
    
}

#custom-imgs5{
    position:relative;
    top:0;
    border-radius: 12px;
}

#custom-imgs5:hover {
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px #000000;
    transition: all .5s ease-in-out
    
}


.experiencias{
    text-align: center;
    font-family: 'Cambria';
    margin-bottom: 10rem;
}

.experiencias-titulo{
    text-transform: capitalize;
    color: #003821;
    height: 2px;
    background: #dddddd;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 7.2rem;
}

.experiencias-titulo h6{
    background: #ffff;
    position: relative;
    left: 41%;
    top: -14px;
    margin-left: -160px;
    width: 43%;
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}


.caixa-experiencias{
    background: #8EB1A5;
    height: 50rem;
    padding: 18rem;
    position: relative;
    font-family: 'Cambria';
}

#texto1-experiencias{
    text-align: center;
    position: relative;
    top: -13rem;
    left: -18rem;
    
}

#texto1-experiencias h4{
    font-family: 'Cambria';
    letter-spacing: 0.2rem;
    font-size: 18px;
}

#texto1-experiencias img{
    width: 38%;
    position: relative;
    top: 5rem;
}

#sobre-experiencia1{
    position: relative;
    top: 12.5rem;
    font-size: 15px;
    line-height: 1.8rem;
}


#texto2-experiencias {
    text-align: center;
    position: relative;
    top: -32.2rem;
    right: -18rem;
}

#texto2-experiencias h4{
    font-family: 'Cambria';
    letter-spacing: 0.2rem;
    font-size: 18px;
}

#texto2-experiencias img{
    width: 28%;
    position: relative;
    top: 5rem;
}

#sobre-experiencias2{
    position: relative;
    top: 9.3rem;
    font-size: 15px;
    line-height: 1.8rem;
}

.trabalhos-pessoais{
    text-align: center;
    font-family: 'Cambria';
    margin-bottom: 10rem;
}

.titulo-trabalhos-pessoais{
    text-transform: capitalize;
    color: #003821;
    height: 2px;
    background: #dddddd;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 2.2rem;
}

.titulo-trabalhos-pessoais h6{
    background: #ffff;
    position: relative;
    left: 46%;
    top: -14px;
    margin-left: -160px;
    width: 33%;
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

.menu-trabalhos-pessoais{
    font-size: 15px;
    padding: 5%;
    line-height: 35px;
    font-family: 'Cambria';
}

.caixa-trabalhos-pessoais{
    background: #F1F1F1;
    height: 50rem;
    padding: 18rem;
    position: relative;
    font-family: 'Cambria';
}
.caixa-trabalhos-pessoais h5{
    position: relative;
    text-align: center;

}
